@model Customer_Management_System.Customer


<h4>Customer Management System</h4>

<ul>
    <li>
        @Html.ActionLink("Customer Details","CustomerSummary")
    </li>
    <li>
        @Html.ActionLink("Add customer", "Insert")
    </li>
    <li>
        @Html.ActionLink("Search","Search")
    </li>

</ul>
