@model Assignment_1.Models.FOOTBALL_LEAGUE
<style>
    body {
        background-color: darkgray;
    }
</style>

<h2>INDEX</h2>
<ul>
    <li>
        @Html.ActionLink("Details", "details")
    </li>
    <li>
        @Html.ActionLink("Winningmatchdetails", "winningmatchdetails")
    </li>
    <li>
        @Html.ActionLink("japanmatchdetails", "japanmatchdetails")
    </li>
    <li>
        @Html.ActionLink("create", "Create")
    </li>
</ul>
